*{
    padding: 0;
    margin: 0;
}

.main_section h2{
    text-align: center;
    background-color: #e71f58;
    margin-bottom: 50px;
    color: white;
    margin-top: 20px;
}

.main_section h3{
color: #e71f58;
}

.apply_now_button{
    text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
}