*{
    margin: 0;
    padding: 0;
    z-index: 111111;
}



.banner-section{

padding-top: 90px;
}

.banner-left{

padding-top: 50px;

padding-left: 20px;
}

.banner-left h2{
    
color: #e52159;
    
font-size: 40px;
    
text-transform: uppercase;
}

.banner-left p{
    
margin-top: 20px;
    
margin-bottom: 10px;
    
width: 85%;




    font-size: 20px;
    
    font-weight: 600;
    
    color: #003554;
}

.btn-plan{

border: 1px solid #e61f58;

font-size: 20px;

padding: 5px 20px;

color: #e61f58;

margin-top: 30px;
}
.btn-plan:hover{
    color: #fff;
    background: #e61f58;
    border: 1px solid #e61f58;
}
.banner-right{
}

.banner-right img{
    
border-radius: 8px;
}

















.Services-section{

padding-top: 100px;

padding-bottom: 50px;
}

.Services-section img{
    width: 100%;
}

.Services-section h1{
    text-align: center;
    padding-bottom: 20px;
    color: #e52159;
    font-weight: 700;
}

.Services-section p{
    padding-bottom: 30px;
    font-size: 20px;
    padding-top: 100px;
    font-weight: 600;
    width: 80%;
    color: #003554;
}








.facilities_seciton_main_div{

}

.facilities_seciton_main_div h1{
    text-align: center;
    padding-bottom: 20px;
    color: #e52159;
    font-weight: 700;
}

.facilities_seciton_main_div img{

}































