*{
    margin: 0;
    padding: 0;
}

.adminssion_main_section{

}

.adminssion_main_div h1{
    text-align: center;
    background-color: #e71f58;
    color: white;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 40%;
    margin-left: 400px;
}

.adminssion_main_div h2{
  color: #e71f58;    
}

.admission_button{
    text-align: center;
    color: white;
}
.admission_button a{
    text-decoration: none;
    color: white;
}