*{
    margin: 0;
    padding: 0;
}

.dashboard_main_section{
    width: 16rem;
    background-color: ghostwhite;
    position: fixed;
    height: 100vh;
    
}

.dashboard_logo{
    width: 40%;
    
}

.main_dash{
    
}
.navbar{
  position: fixed;
}






.dashboard_main_div{
  
  width: 16rem;
}

.dashboard_main_div span{
    display: block;
    height: 1px;
    width: 100%;
    /* background: #dbd1d1; */
    margin: auto;
    margin-top: 20px;
    
}

.dashboard_main_div{

}

.dashboard_main_div ul{
    padding: 0;
}

.dashboard_main_div ul li{
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.dashboard_main_div ul li:hover{
  background-color: #dae0e5;
}

.dashboard_main_div ul li a{
    text-decoration: none;
    color: #003655;

    display: flex;
    padding: 10px 0;
    align-items: center;
}

.dashboard_main_div ul li p {
    margin: 0;
    padding-left: 15px;
    font-weight: 600;
    height: 20px;
    color: #003655;
}

.list_icon{
    width: 20px;
    margin-right: 12px;
    text-align: center;
    margin-top: 5px;
}

.dashboard_right{
    width: 477%;
    border: 1px solid red;
}
.dashboard_main_left{
    width: 25%;
}
.rightMainD{
    width: 900px;
    margin-left: 600px;
}









/* useing bootstrap */


/* :root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
} */
/* @media (min-width: 992px) {
    .dashboard_main_section {
    overflow: auto !important;
  }
  .dashboard_main_section {
    margin-left: var(--offcanvas-width);
  }
  
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
} */



