*{
    margin: 0;
    padding: 0;

}


.dashboard_main_section{
  position: fixed;
}
.main{
  display: flex;
  height: 100vh;
}

.upper h3{
  font-size: 25px;
  margin-left: 10px;
}


/* .container{
  flex-grow: 1;
  padding: 2em;
  background-image: radial-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)), url('../public/banner.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
} */
.title{
  font-size: 3em;
}
.info{
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: rgb(224, 224, 224);
}
.btn{
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}

.sidebar{
  width: 260px;
  flex-shrink: 0;
  background-color: rgba(22, 22, 22, 1);
  height: 100vh;
  overflow: auto;
  color: white;
}


.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}
.sidebar-item:hover{
  background-color: rgba(255, 255, 255, .1);
}

.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  cursor: pointer;
}
.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover{
  text-decoration: underline;
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}

















/* .dashboard_main_section{
    width: 16rem;
    background-color: ghostwhite;
    position: fixed;
    height: 100vh;
    
} */

.dashboard_logo{
    width: 40%;
    
}

.main_dash{
    
}
.navbar{
  position: fixed;
}






.dashboard_main_div{
  
  width: 16rem;
}

.dashboard_main_div span{
    display: block;
    height: 1px;
    width: 100%;
    /* background: #dbd1d1; */
    margin: auto;
    margin-top: 20px;
    
}

.dashboard_main_div{

}

.dashboard_main_div ul{
    padding: 0;
}

.dashboard_main_div ul li{
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.dashboard_main_div ul li:hover{
  background-color: #dae0e5;
}

.dashboard_main_div ul li a{
    text-decoration: none;
    color: #003655;

    display: flex;
    padding: 10px 0;
    align-items: center;
}

.dashboard_main_div ul li p {
    margin: 0;
    padding-left: 15px;
    font-weight: 600;
    height: 20px;
    color: #003655;
}

.list_icon{
    width: 20px;
    margin-right: 12px;
    text-align: center;
    margin-top: 5px;
}

.dashboard_right{
    width: 477%;
    border: 1px solid red;
}
.dashboard_main_left{
    width: 25%;
}
.rightMainD{
    width: 900px;
    margin-left: 600px;
}









/* useing bootstrap */


/* :root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
} */
/* @media (min-width: 992px) {
    .dashboard_main_section {
    overflow: auto !important;
  }
  .dashboard_main_section {
    margin-left: var(--offcanvas-width);
  }
  
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
} */



