*{
    margin: 0;
    padding: 0;
    z-index: 111111;
}

.navbar-expand-lg .navbar-nav {
    margin-right: 280px;
}

.nav-img {
    width: 15%;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #e71f58;
    border-color: #e71f58;
}

.btn-outline-success {
    color: #e71e58;
    border-color: #e71f58;
}
.form-control {
    
    border: 1px solid #e71f58;
    
}
header {
    background: #ffebf1;
}
.navbar{

}
.form-control:focus {
    color: #212529;
    border-color: #e82460;
    outline: 0;
    box-shadow: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e61654;
}
.navbar-light .navbar-nav .nav-link {
    color: #1a425e;
    font-size: 16px;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(231 31 88);
}

.banner-section{

padding-top: 90px;
}

.banner-left{

padding-top: 50px;

padding-left: 20px;
}

.banner-left h2{
    
color: #e52159;
    
font-size: 40px;
    
text-transform: uppercase;
}

.banner-left p{
    
margin-top: 20px;
    
margin-bottom: 10px;
    
width: 85%;
}

.btn-plan{

border: 1px solid #e61f58;

font-size: 20px;

padding: 5px 20px;

color: #e61f58;

margin-top: 30px;
}
.btn-plan:hover{
    color: #fff;
    background: #e61f58;
    border: 1px solid #e61f58;
}
.banner-right{
}

.banner-right img{
    
border-radius: 8px;
}

.Services-section{

padding-top: 100px;

padding-bottom: 50px;
}

.Services-section .heading{

}

.Services-section .heading h1{

text-align: center;

padding-bottom: 20px;
}

.single-course{

    background: #FFFFFF;
    
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    
    border-radius: 18px;
    
    padding: 15px;
    }
    
    .single-course img{
        
    }
    
    .single-course h1{
        
    font-weight: 500;
        
    font-size: 24px;
        
    line-height: 36px;
    /* identical to box height */
        
    margin: 5px 0 10px 0;
        
    color: #413960;
    }
    
    .single-course p{
        
    font-weight: 400;
        
    font-size: 16px;
        
    line-height: 24px;
    /* identical to box height */
        
    color: #585859;
        
    margin: 5px 0;
    }
    
    .btn-course{
    
background: #e61f58;
    
border-radius: 33px;
    
padding: 0;
    
padding: 3px 35px;
    
color: #fff;
    
font-size: 15px;
    
margin: 10px 0;
    }
    
    .single-course ul{
    
list-style: none;
    
display: flex;
    
justify-content: space-between;
    
margin-top: 10px;
    
align-items: center;
    
padding-left: 0;
    }
    
    .single-course ul li{
        
    display: flex;
        
    align-items: center;
        
    /* justify-content: left; */
    }
    
    .single-course ul li i{
        
    padding-right: 5px;
    }
    

    .nurse-section{

padding-bottom: 20px;

padding-top: 50px;

}

    .nurse-section h1{
        
text-align: center;
        
padding-bottom: 20px;
    }

    .card-2{

    }

    .card-2 img{
        
    }

    .card-2-img{
        
width: 240px;
        
/* height: 50px; */
        
padding-left: 14px;
    }


    .card-text{

    }

    .need{
        color: #212529;
    text-decoration: none;
    }


    .more{

background: #ffebf1;

height: 200px;

}

    .more h1{
        
text-align: center;
        
margin-top: 46px;
        
margin-bottom: 50px;
        
padding-top: 50px;
        
color: #e7193d;
        
font-weight: 700;
    }










    .our-service{
        padding: 100px 0px;
        
    }
    .service{
    border: 5px solid #ebebeb;
    padding: 30px 27px;
    margin-bottom: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    }
    .service:hover{
    border: 5px solid #f69165;
    }
    .service i{
    float:  left;
    /* display:  block; */
    /* margin-right:  5px; */
    /* margin-bottom:  100px; */
    /* padding-top: 0; */
    padding-right: 4px;
    }
    .service h1{
    font-size: 24px;
    /* padding-top: 17px; */
    /* display:  inline-block; */
    margin-bottom: 17px;
    padding-top: 22px;
    }
    .service p{padding: 7px 0px;/* margin-left: 0px; *//* max-width: 750px; */margin-bottom: 8px;}
    .service a{
    text-decoration:  none;
    color: #6f6e6e;
    font-weight:  bold;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    }
    .service a:hover{
    color: #f69165;
    }
    .service a span{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    }
    .service a:hover span{
    margin-left: 5px;
    }

    
.our-price{
    background: #f9f9f9;
    padding: 100px 0;
}
.price-content{
    text-align:  center;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px  #b9b9b96e;
    /* padding: 25px; */
    padding:  25px 0px;
    transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.price-content:hover{
    border: 5px solid #ffebf1;
}
.price-head{
    margin:  0 auto;
    text-align:  center;
}
.price-head h2{
    margin-bottom:  0px;
    font-size: 30px;
    color: #00cce1;
}
.price-head p{
    font-size: 16px;
    color: #707070;
}
.price-content .price-package{
    background:  #fff;
    /* padding: 0px; */
}
.price-package{
    color: #00cce1;
    padding: 20px 16px;
    background:  #fff;
    margin: 15px 0px;
        transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.price-content:hover .price-package {
    background: #ffebf1;
    color: #e7193d;
}

.price-package h1{
    margin-bottom:  0px;
    font-size: 45px;
    letter-spacing: 0px;
}
.price-package h1 span{
    font-size:  24px;
  
}
.price-package span{}
.price-package p{
    margin-bottom: 0px;
    font-weight:  bold;
}
.package{}
.package ul{
    padding-bottom: 10px;
    padding-left:  0;
}
.package ul li{
    list-style: none;
    padding: 5px;
    color: #707070;
}
.package a{}
.package a button{}
.price-btn{
    border:  none;
    padding: 10px 37px;
    background: #00cce1;
    color:  #fff;
    font-weight:  bold;
    font-size: 20px;
}
.package a .price-btn{}




.contact_form_container {
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-bottom: 50px;
  }
  
  .card {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .left {
    width: 25vw;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .left img {
    width: inherit;
    object-fit: cover;
    transform: scale(2.3);
  }
  
  .right .contact {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
  }
  
  .form, .address {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0;
  }
  
  .form input, textarea {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    padding: 10px 0;
    margin: 5px 0;
  }
  
  .usersubmit input {
    background-color: #f25;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: min-content;
    padding: 15px;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .usersubmit input:hover {
    background-color: #f45;
  }
  
  .address {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  h4 {
    margin-bottom: 5px;
  }
  
  /* @media screen and (max-width: 700px) {
    .card {
      flex-direction: column;
    }
    
    .left {
      width: 60vw;
      height: 40vh;
    }
  }
  
  @media screen and (max-width: 350px) {
    .container {
      overflow: hidden;
    }
    .left {
      height: 20vh;
    }
    .contact {
      flex-direction: column;
    }
  } */



























footer{
    
padding-top: 50px;
    
padding-bottom: 20px;
    
background: #ffebf1;
    
color: #e7193d;
}

.footer-control{
    
    /* display: flex; */
        
    /* align-items: center; */
        
    padding-left: 100px;
    }
    
    .img-2{
    
    margin-bottom: 15px;
    }
    
    .mrgn{
        
    margin-top: 1px;
    }

    .package a .price-btn:hover {
        background-color:#e7193d;
    }


    .agency{

    }


    .agency h1{

font-size: 36px;

}
    .agency h2{

font-size: 21px;

}
    .agency p{

font-size: 15px;

}


    .agency .lit-pic{

height: 35px;

}

.mr{
    
}